* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Mukta", sans-serif;
}

body {
  height: 100vh;
}

.menu {
  display: flex;
  align-items: center;
  margin: 30px;
  gap: 30px;

}

.menu img {
  height: 60px;
}

.menu a {
  color: white;
  font-size: 15px;
  cursor: pointer;text-transform: uppercase;
}


.menu a:hover{ color: #c51111;font-size: 16px;transition: 0.4s ease-in-out;
   
}

.caixa-mae {
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding: 70px;
  height: 80vh;
  
}

.caixa-p1 {
  width: 40%;





}

.caixa-p2 {
  display: flex;
  justify-content: end;
  align-items: end;
}


img {
  height: 200px;

}

.img-2 {
  height: 500px;
  width: 500px;
}

button {
  color: white;
  background: #c51111;
  border: none;
  border-radius: 8px;
  font: size 15px;
  text-transform: uppercase;
  font-weight: bold;

  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-top: 50px;
}

  button:hover{color: blue; transition:0.5s;text-transform: uppercase;}



p,
p {
  width: 600px;
  color: white;
  font-size: 15px;
  font-weight: 20px;
}

.video-mario {
  position: fixed;
  z-index: -1;
  top: 0;

}


video {

  min-width: 100%;
  min-height: 100%
  ;position: fixed;
  top: 0;

}

.mascara {
  width: 100%;
  height: 100%;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99)15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99)99%);
  position: fixed;
  top: 0;
}

.link-whatsapp img {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.fale-conosco {
  background: white;
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  position: fixed;
  top: 35%;
  left:-322px;
  
  transition: left 1s linear;
  z-index: 4;
}


input {
  height: 40px;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 3px;
  outline-color: aquamarine;
}

textarea {
  height: 90px;
  width: 300px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px;
  outline-color: aquamarine;
}

.mascara-form {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99)15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99)85%);
}