*{margin: 0;
padding: 0; 
box-sizing: border-box;

    font-family: "Mukta", sans-serif;
      }
   body{background-color: rgb(224, 224, 224);}


.fale-conosco {background: white;
display: flex;
flex-direction: column; 
align-items: flex-end;
padding: 20px; 
 border-radius: 10px;
gap: 20px;
position: fixed;
left: -320px;
transition :left 1s linear; 
z-index: 4;}


input{height: 40px;
border-radius: 3px;
border: 1px solid rgb(235, 136, 136) ;
padding-left: 3px ;
outline-color: aquamarine;}

textarea{height: 90px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid gray ;
    padding: 10px ;
    outline-color: aquamarine;}
    
    .mascara-form{ 
      visibility: hidden;
      height: 100vh;
    width: 100vw; 
    position: fixed;
    top: 0;
    z-index: 3;
    background: linear-gradient(109deg, rgba(10, 12,16, 0.99)15%,  rgba( 10, 12, 16, 0.7) 50% ,  rgba(10, 12, 16, 0.99)99%)}

    img{width: 130px ;height: 130px;}