* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {

    margin-top: 47px;
    margin-left: 42px;
    font-size: 10px;
}

.menu {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233D;
}

button {
    width: 112px;
    height: 42px;
    top: 707px;
    left: 801px;





    border: transparent;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: center;
    background: #6FBF44;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.img {
    width: 595.18px;
    height: 300px;
    top: 200px;
    left: 121px
}

.texto {
    margin-left: 612px;
    margin-top: -249px;
    display: inline-block
}





.h1{
    width: 492px;
    height: 94px;
   

    font-size: 48px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    text-align: left;
    color: #161A49;

}

p {
    width: 493px;
    height: 99px;
    margin-top: 85px;


    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #4B505A;

}

.Learn {

    font-size: 22px;
    font-weight: 500;
    line-height: 284px;
    letter-spacing: 1px;
    text-align: left;
    color: #6FBF44;
    border: none;
    cursor: pointer;
}


@media screen and ( max-width  : 600px){
    .container{width: 100vw;
         height: 100vh;
         padding: 0;}

        .texto{margin-top: -254px;
            margin-left: 14px;
            display: block;}

            .h1{font-size: 40px;
                line-height: 50px;
                text-align: center;
                font-weight: 700;
             letter-spacing: 0.5961538553237915px;
                
                }
            
    
                
                
     p{
        width: 488px;
        height: 95px;
        font-size: 28px;
        font-weight: 400;
        line-height: 53px;
        letter-spacing: 0.5px;
        text-align: center;
        padding-top: 3px;
    }
                

        

.img{ width: 312px;
    height: 288px;
    top: -965px;
    left: 1167px;
    gap: 0px;
    opacity: 0px;
     position: relative;}


     .Learn {width: 112px;
    height: 27px;
    top: -1051px;
    left: 1267px;
    font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 1px;
text-align: left;

    }



    }




    

    
